.informationContainer {
  padding-top: 100px;
  padding-left: 100px;
}

.informationContentContainer {
  width: 100%;
}

.textTitleStyle {
  font-size: 40px;
}

.informationListSkills {
    list-style-type: none;
    padding-top: 20px;
}

.buttonSkillsStyle {
  width: 200px;
}

.documentsContainer {
  padding-top: 100px;
}

.documentsLinkStyle {
  text-decoration: none;
  font-weight: bold;
  color: black;
  width: fit-content;
}

.documentsLinkStyle:hover {
  text-decoration: underline;
  color: black;
}

.documentsLinkPadding {
  padding-left: 15px;
}

.imageInformation {
  margin: 0;
  width: 100%;
  border: 3px solid white;
  max-width: 600px;
}

/* Mobile & Tablet */

@media (max-width: 900px) {
  .informationContainer {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }

  .informationImageContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
  }

  .informationListSkills {
    list-style-type: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textTitleStyle {
    font-size: 40px;
    text-align: center;
  }

  .documentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .documentsLinkPadding {
    text-align: center;
  }

  .imageInformation {
    margin: 0;
    width: 100%;
    border: 3px solid white;
  }
}

@media (min-width: 900px) {
  .informationImageContainer {
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-start;
    width: 100%;
  }
}
