.homeContainer {
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.homeContentContainer {
  text-align: center;
  flex-direction: row;
}

.textTitleStyle {
  font-size: 40px;
}

.homeDescriptionContainer {
  flex-direction: column;
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.textDescriptionStyle {
  padding-bottom: 10px;
}


/* Mobile & Tablet */

@media (max-width: 1120px) {
  .homeContainer {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }

  .homeContentContainer {
    text-align: center;
  }

  .homeImageContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }
}

@media (min-width: 1120px) {
  .homeImageContainer {
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 50px;
  }
}
