.homeContainer {
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}

.homeContainerMobile {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.homeContentContainer {
  text-align: center;
  padding-left: 50px;
}

.homeContentContainerMobile {
  text-align: center;
}

.textTitleStyle {
  font-size: 40px;
}

.homeDescriptionContainer {
  flex-direction: column;
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.textDescriptionStyle {
  padding-bottom: 10px;
}

.homeImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-inline: 50px;
}

.homeImageContainerMobile {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.homeImage {
  margin: 0;
  width: auto;
}

.homeImageMobile {
  margin: 0;
  width: 200px;
  height: 200px;
}
